/* style.css */

body {
    padding-top: 8%;
    font-family: "Cormorant SC", serif;
    display: flex;
    flex-direction: column;
}
.contactus{
    margin-left: 15%;
}

#contact-us h4 {
    color: #ff3147;
    margin-top: 25%;
}

#contact-us h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#contact-us p {
    margin-bottom: 1.5rem;
    font-family: 'poppins', serif;
    margin-right: 15%;
}

#contact-us img {
    height: 70%;
    width: auto;
    margin-top:5% ;
}
.btncontactus{
    background-color: #ff3147;
    color: white;
    outline: auto;
    height: 5%;
    width: 20%;
}
.btncontactus:hover{
    background-color: #dd0000; 
    transform: scale(1.05); 
}
.whatwedo{
    background-color: #FAFAFA;
    transform: translateY(-14%);
}
#what-we-do h2{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}
#what-we-do h4{
    color: #ff3147;
    font-size: 1.5rem;
    margin-top: 10%;
    
}
#what-we-do p{
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    margin-top: 17%;
}
.content h4 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.content p {
    margin-top: 10px;
    font-size: .8rem;
}
#why-choose-us img{
    height: 55px;
    width: 55px;
}
#why-choose-us h1 {
    color: #333;
    font-weight: bold;
}

.whychooseushead {
    font-size: 1.5rem;
    color: #ff3147;
    margin-top: 1rem;
}

#why-choose-us p {
    color: #666;
    font-size: 1rem;
    text-align: left;
}
.ourprojects{
    padding-top: 5%;
}
.ourprojects h4{
    font-size: 1.5rem;
    color:#ff3147;
}
.ourprojects h1{
    font-weight: bold;
}
.project-box {
    background-color:#F6F6F6 ;
    padding: 6px;
    border-radius: 2px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.project-box:hover {
    background-color: #ff3147;
    transform: scale(1.05);
}

.project-link {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.project-link.active {
    color:#ff3147;
}

.project-box:hover .project-link {
    color: #fff; 
}

.project-box:hover p {
    color: #fff; 
}
.companygrowth h4{
    color: #ff3147;
}
.companygrowth h1{
    font-weight:bold ;
}
#company-growth {
    background-color: #FAFAFA; 
    padding: 130px;
}
.growth-section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
   
    overflow: hidden;
    margin-top: 20%;
}

.growth-section:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.growth-section img{
    height: 15%;
    width: 15%;
    margin-bottom: 20px;
}

.companygrowth h3{
    font-size: 2.5rem;
}
.growth-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.growth-section:hover .growth-text {
    color: red;
    font-size: 20px;
}
clients-feedback h4, #clients-feedback h1 {
    margin-bottom: 10px;
}

#clients-feedback h4 {
    color:#ff3147;
    margin-bottom: 2%;
}

#clients-feedback h1 {
    font-weight:bold;
    color: #000;
    margin-bottom: 5%;
}

.feedback-content {
    max-width: 700px;
    margin: 0 auto; 
    text-align: left; 
}

.feedback-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.customer-details {
    font-size: 16px;
    color: #888;
    font-weight: 600;
}

.customer-name {
    color:#ff3147;
    font-weight: bold; 
}

.customer-designation {
    color: #888; 
}

footer {
    background-color:#ff3147;
    margin-top: 5%;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-image {
    max-width: 60%; 
    height: 60%; 
    margin-left: 22%;
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
